@import "./variables";

.company-intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: $primary-color;

  .image-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100vw;
      height: 80%;
      object-fit: contain;
      display: block;
    }
  }
}