.platforms-selector-button {
  padding: 8px 15px;
  border: 1px solid #2898ec;
  border-radius: 25px;
  color: #2898ec;
  font-size: 0.9rem;
  margin: 3px;
  background-color: #fff;
  width: 100px;
}

.platform-selector-button-container {
  display: flex;
  justify-content: space-between;
}

.platform-selector-header {
  font-size: 1rem;
  font-weight: normal;
}
